version: "3.9"

services:
  app:
    build: .
    container_name: spring-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/DevAssignment
      SPRING_DATASOURCE_USERNAME: springuser
      SPRING_DATASOURCE_PASSWORD: springuser
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: DevAssignment
      POSTGRES_USER: springuser
      POSTGRES_PASSWORD: springuser
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
